profiles {
    standard {    
        params.configs = "/fred/oz313/processing/configs"
        params.data = "/fred/oz313/processing/output/${params.label}/htr/"
        includeConfig "${params.configs}/${params.label}.config"
    }

    manual_config {
        params.data = "/fred/oz313/processing/output/${params.label}/htr/crops"
    }
}
